<div class="middle_content entry" role="main"></div>
<style type="text/css">

    #cmsmasters_row_5b283252a7fb9 .cmsmasters_row_outer_parent {
        padding-top: 80px;
    }

    #cmsmasters_row_5b283252a7fb9 .cmsmasters_row_outer_parent {
        padding-bottom: 70px;
    }

    #cmsmasters_pricing_item_5b283252a8296 .cmsmasters_button:before {
        margin-right: .5em;
        margin-left: 0;
        vertical-align: baseline;
    }

    #cmsmasters_pricing_item_5b283252a8296 .cmsmasters_button {
        font-family: 'Roboto';
        font-weight: 600;
        font-style: normal;
        border-style: solid;
    }

        #cmsmasters_pricing_item_5b283252a8296 .cmsmasters_button:hover {
        }

    #cmsmasters_pricing_item_5b283252a8410 .cmsmasters_button:before {
        margin-right: .5em;
        margin-left: 0;
        vertical-align: baseline;
    }

    #cmsmasters_pricing_item_5b283252a8410 .cmsmasters_button {
        font-family: 'Roboto';
        font-weight: 600;
        font-style: normal;
        border-style: solid;
    }

        #cmsmasters_pricing_item_5b283252a8410 .cmsmasters_button:hover {
        }

    #cmsmasters_pricing_item_5b283252a856e .cmsmasters_button:before {
        margin-right: .5em;
        margin-left: 0;
        vertical-align: baseline;
    }

    #cmsmasters_pricing_item_5b283252a856e .cmsmasters_button {
        font-family: 'Roboto';
        font-weight: 600;
        font-style: normal;
        border-style: solid;
    }

        #cmsmasters_pricing_item_5b283252a856e .cmsmasters_button:hover {
        }

    #cmsmasters_pricing_item_5b283252a86cf .cmsmasters_button:before {
        margin-right: .5em;
        margin-left: 0;
        vertical-align: baseline;
    }

    #cmsmasters_pricing_item_5b283252a86cf .cmsmasters_button {
        font-family: 'Roboto';
        font-weight: 600;
        font-style: normal;
        border-style: solid;
    }

        #cmsmasters_pricing_item_5b283252a86cf .cmsmasters_button:hover {
        }
</style>

<div id="cmsmasters_row_5b283252a7fb9" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">

                        <div class="cmsmasters_pricing_table pricing_two">
                            <div id="cmsmasters_pricing_item_5b283252a8296" class="cmsmasters_pricing_item pricing_best">
                                <div class="cmsmasters_pricing_item_inner">
                                    <h3 class="pricing_title">A1: 50% Off</h3>
                                    <div class="cmsmasters_price_wrap">
                                        <span class="cmsmasters_price">260</span>
                                        <span class="cmsmasters_currency">€</span>
                                        <br /><span class="cmsmasters_period">per two weeks</span>
                                    </div>
                                    <ul class="feature_list">
                                        <li><span class="feature_icon cmsmasters-icon-check-1">from 9am to 1pm</span></li>
                                        <li><span class="feature_icon cmsmasters-icon-check-1">40 hours | 6,5€ per hour </span></li>
                                        <li><span class="feature_icon cmsmasters-icon-check-1">from 3rd to 14th September</span></li>
                                    </ul>
                                    <a href="@Url.Action("Index", "OnlineApplication", new
                                        {
                                            fromDate ="2018/09/03",
                                            toDate = "2018/09/14"
                                        })" class="cmsmasters_button"><span>Select</span></a>
                                </div>
                            </div>
                            <div id="cmsmasters_pricing_item_5b283252a8296" class="cmsmasters_pricing_item pricing_best">
                                <div class="cmsmasters_pricing_item_inner">
                                    <h3 class="pricing_title">A2: 50% Off</h3>
                                    <div class="cmsmasters_price_wrap">
                                        <span class="cmsmasters_price">260</span>
                                        <span class="cmsmasters_currency">€</span>
                                        <br /><span class="cmsmasters_period">per two weeks</span>
                                    </div>
                                    <ul class="feature_list">
                                        <li><span class="feature_icon cmsmasters-icon-check-1">from 9am to 1pm</span></li>
                                        <li><span class="feature_icon cmsmasters-icon-check-1">40 hours | 6,5€ per hour </span></li>
                                        <li><span class="feature_icon cmsmasters-icon-check-1">from 14th to 28th September</span></li>
                                    </ul>
                                    <a href="@Url.Action("Index", "OnlineApplication", new
                                        {
                                            fromDate =Html.Raw("2018/09/14"),
                                            toDate = "2018/09/28"
                                        })" class="cmsmasters_button"><span>Select</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cl"></div><div class="content_wrap fullwidth">
    <div class="middle_content entry" role="main"></div>
    <!-- _________________________ Finish Content _________________________ -->