<style type="text/css">

    #cmsmasters_row_5b2831bee50ae .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee50ae .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }

    #cmsmasters_row_5b2831bee55bb .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee55bb .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee55bb .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-left: 0%;
    }

    #cmsmasters_row_5b2831bee55bb .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-right: 0%;
    }

    #cmsmasters_divider_5b2831bee5654 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee56a5 {
        background-color: #fbfbfb;
    }

        #cmsmasters_row_5b2831bee56a5 .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_5b2831bee56a5 .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }

    #cmsmasters_quote_5b2831bee584a .quote_image {
        background-color: #f36371;
    }

    #cmsmasters_row_5b2831bee5ab6 .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee5ab6 .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee5ab6 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-left: 0%;
    }

    #cmsmasters_row_5b2831bee5ab6 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-right: 0%;
    }

    #cmsmasters_divider_5b2831bee5b47 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee5b96 .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee5b96 .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }

    #cmsmasters_quote_5b2831bee5d2d .quote_image {
        background-color: #f9be4d;
    }

    #cmsmasters_row_5b2831bee5f7c .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee5f7c .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee5f7c .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-left: 0%;
    }

    #cmsmasters_row_5b2831bee5f7c .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-right: 0%;
    }

    #cmsmasters_divider_5b2831bee600b {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee605a {
        background-color: #fbfbfb;
    }

        #cmsmasters_row_5b2831bee605a .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_5b2831bee605a .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }

    #cmsmasters_quote_5b2831bee61fd .quote_image {
        background-color: #00a9cd;
    }

    #cmsmasters_row_5b2831bee6448 .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }

    #cmsmasters_row_5b2831bee6448 .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee6448 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-left: 0%;
    }

    #cmsmasters_row_5b2831bee6448 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
        padding-right: 0%;
    }

    #cmsmasters_divider_5b2831bee64d7 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    #cmsmasters_row_5b2831bee6526 .cmsmasters_row_outer_parent {
        padding-top: 70px;
    }

    #cmsmasters_row_5b2831bee6526 .cmsmasters_row_outer_parent {
        padding-bottom: 70px;
    }

    #cmsmasters_heading_5b2831bee662c {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 30px;
    }

        #cmsmasters_heading_5b2831bee662c .cmsmasters_heading {
            text-align: left;
        }

            #cmsmasters_heading_5b2831bee662c .cmsmasters_heading, #cmsmasters_heading_5b2831bee662c .cmsmasters_heading a {
                font-weight: 300;
                font-style: normal;
            }

        #cmsmasters_heading_5b2831bee662c .cmsmasters_heading_divider {
        }

    #cmsmasters_heading_5b2831bee6caf {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 40px;
    }

        #cmsmasters_heading_5b2831bee6caf .cmsmasters_heading {
            text-align: left;
        }

            #cmsmasters_heading_5b2831bee6caf .cmsmasters_heading, #cmsmasters_heading_5b2831bee6caf .cmsmasters_heading a {
                font-weight: 300;
                font-style: normal;
            }

        #cmsmasters_heading_5b2831bee6caf .cmsmasters_heading_divider {
        }

    #cmsmasters_heading_5b2831bee6cfb {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 40px;
    }

        #cmsmasters_heading_5b2831bee6cfb .cmsmasters_heading {
            text-align: left;
        }

            #cmsmasters_heading_5b2831bee6cfb .cmsmasters_heading, #cmsmasters_heading_5b2831bee6cfb .cmsmasters_heading a {
                font-weight: lighter;
                font-style: normal;
            }

        #cmsmasters_heading_5b2831bee6cfb .cmsmasters_heading_divider {
        }

    #cmsmasters_icon_list_items_5b2831bee6d46 {
        padding-left: 45px;
    }

        #cmsmasters_icon_list_items_5b2831bee6d46 .cmsmasters_icon_list_item:before {
            font-size: 25px;
            left: -45px;
        }

        #cmsmasters_icon_list_items_5b2831bee6d46 .cmsmasters_icon_list_item {
            line-height: 40px;
            padding: 0;
        }

            #cmsmasters_icon_list_items_5b2831bee6d46 .cmsmasters_icon_list_item:before {
                line-height: 40px;
                top: 0;
            }

    .cmsmasters_icon_list_items #cmsmasters_icon_list_item_5b2831bee6ddb:before {
        color: #01a2a6;
    }

    .cmsmasters_icon_list_items #cmsmasters_icon_list_item_5b2831bee6e22:before {
        color: #01a2a6;
    }

    .cmsmasters_icon_list_items #cmsmasters_icon_list_item_5b2831bee6e64:before {
        color: #01a2a6;
    }

    .cmsmasters_icon_list_items #cmsmasters_icon_list_item_5b2831bee6ea6:before {
        color: #01a2a6;
    }

    .cmsmasters_icon_list_items #cmsmasters_icon_list_item_5b2831bee6ee7:before {
        color: #01a2a6;
    }
</style>

<div id="cmsmasters_row_5b2831bee50ae" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_quotes_slider_wrap">
                            <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_quotes_slider_5b2831bee51ae").owlCarousel({ singleItem: true, autoPlay: 4000, stopOnHover: true, pagination: false, navigation: true, navigationText: ["<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>"] }); });</script>
                            <div id="cmsmasters_quotes_slider_5b2831bee51ae" class="cmsmasters_quotes cmsmasters_quotes_slider cmsmasters_quotes_slider_type_center owl-carousel">
                                <div class="cmsmasters_quote">
                                    <!--_________________________ Start Quotes Centered Slider Article _________________________ -->
                                    <article class="cmsmasters_quote_inner" id="cmsmasters_quote_5b2831bee5284">
                                        <div class="quote_content">
                                            <p>Coming to Language School was a great experience for learning English and meeting people. The teachers are great and help you improve your English with different ways of teaching. I really enjoyed the presentation we did each week. The atmosphere is cool, you get to meet people from all over the world, and the volunteers are, of course, unforgettable! They are nice, welcoming, always there to make you feel at ease, take care of everything, and make sure there&#8217;s a family atmosphere at the school. By the way, thank you for the coffee every morning :). Besides this there are many activities, and of course the school support orphans!</p>
                                        </div>
                                        <figure class="quote_image">
                                        </figure>
                                        <div class="wrap_quote_title">
                                            <h6 class="quote_title">Joseph Smith</h6>
                                        </div>
                                    </article>
                                    <!--_________________________ Finish Quotes Centered Slider Article _________________________ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee55bb" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div id="cmsmasters_divider_5b2831bee5654" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee56a5" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_quotes_slider_wrap">
                            <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_quotes_slider_5b2831bee5785").owlCarousel({ singleItem: true, autoPlay: 4000, stopOnHover: true, pagination: false, navigation: true, navigationText: ["<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>"] }); });</script>
                            <div id="cmsmasters_quotes_slider_5b2831bee5785" class="cmsmasters_quotes cmsmasters_quotes_slider cmsmasters_quotes_slider_type_center owl-carousel">
                                <div class="cmsmasters_quote">
                                    <!--_________________________ Start Quotes Centered Slider Article _________________________ -->
                                    <article class="cmsmasters_quote_inner" id="cmsmasters_quote_5b2831bee584a">
                                        <div class="quote_content">
                                            <p>Language School is a great place to learn German with excellent teachers and very friendly volunteers who offer daily extra-curricular activities. I have studied here for all 3 levels on offer, and have no hesitation in recommending Language School as an effective and friendly place to learn German. As well as learning German you are also helping the orphanage to continue functioning, and you have opportunities to meet the children during the course.</p>
                                        </div>
                                        <figure class="quote_image">
                                        </figure>
                                        <div class="wrap_quote_title">
                                            <h6 class="quote_title">Chloe Jackson</h6>
                                        </div>
                                    </article>
                                    <!--_________________________ Finish Quotes Centered Slider Article _________________________ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee5ab6" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div id="cmsmasters_divider_5b2831bee5b47" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee5b96" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_quotes_slider_wrap">
                            <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_quotes_slider_5b2831bee5c6e").owlCarousel({ singleItem: true, autoPlay: 4000, stopOnHover: true, pagination: false, navigation: true, navigationText: ["<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>"] }); });</script>
                            <div id="cmsmasters_quotes_slider_5b2831bee5c6e" class="cmsmasters_quotes cmsmasters_quotes_slider cmsmasters_quotes_slider_type_center owl-carousel">
                                <div class="cmsmasters_quote">
                                    <!--_________________________ Start Quotes Centered Slider Article _________________________ -->
                                    <article class="cmsmasters_quote_inner" id="cmsmasters_quote_5b2831bee5d2d">
                                        <div class="quote_content">
                                            <p>My experience at Language School so far has been awesome! I think that the best part about the school are the helpful staff. They are always willing to help you in any way they can and make your time here as enjoyable as possible. The classes are very good and help you learn French in a very fast, efficient way. I also enjoy going to the activities hosted by the school because they are a great way to meet people and practice French! 🙂</p>
                                        </div>
                                        <figure class="quote_image">
                                        </figure>
                                        <div class="wrap_quote_title">
                                            <h6 class="quote_title">Jacob Brown</h6>
                                        </div>
                                    </article>
                                    <!--_________________________ Finish Quotes Centered Slider Article _________________________ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee5f7c" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div id="cmsmasters_divider_5b2831bee600b" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee605a" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div class="cmsmasters_quotes_slider_wrap">
                            <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_quotes_slider_5b2831bee613b").owlCarousel({ singleItem: true, autoPlay: 4000, stopOnHover: true, pagination: false, navigation: true, navigationText: ["<span class=\"cmsmasters_prev_arrow\"><span></span></span>", "<span class=\"cmsmasters_next_arrow\"><span></span></span>"] }); });</script>
                            <div id="cmsmasters_quotes_slider_5b2831bee613b" class="cmsmasters_quotes cmsmasters_quotes_slider cmsmasters_quotes_slider_type_center owl-carousel">
                                <div class="cmsmasters_quote">
                                    <!--_________________________ Start Quotes Centered Slider Article _________________________ -->
                                    <article class="cmsmasters_quote_inner" id="cmsmasters_quote_5b2831bee61fd">
                                        <div class="quote_content">
                                            <p><span id="result_box" class="short_text" lang="en"><span class="hps">I chose Language School because they offer unique speaking lessons. The teachers are very professional and they lead the classes very well. Language School studies are different than others &#8211; they teach us exactly what we want to learn. The lessons are very dynamic and in every lesson we talk about a variety of subjects and we always have a laugh. It’s really interesting to share points of view and stories with students from different countries. I’m very lucky to have studied in Language School.</span></span></p>
                                        </div>
                                        <figure class="quote_image">
                                        </figure>
                                        <div class="wrap_quote_title">
                                            <h6 class="quote_title">Ellie Green</h6>
                                        </div>
                                    </article>
                                    <!--_________________________ Finish Quotes Centered Slider Article _________________________ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee6448" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column one_first">
                        <div id="cmsmasters_divider_5b2831bee64d7" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cmsmasters_row_5b2831bee6526" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
    <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
            <div class="cmsmasters_row_inner">
                <div class="cmsmasters_row_margin">
                    <div class="cmsmasters_column">
                        <div id="cmsmasters_heading_5b2831bee6caf" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                            <h2 class="cmsmasters_heading">Let&#8217;s Get Social</h2>
                        </div>
                        <div id="cmsmasters_heading_5b2831bee6cfb" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                            <h4 class="cmsmasters_heading">Share your memories and post your photos using #ILikeLanguageSchool</h4>
                        </div>
                        <ul id="cmsmasters_icon_list_items_5b2831bee6d46" class="cmsmasters_icon_list_items cmsmasters_icon_list_type_list cmsmasters_icon_list_pos_left cmsmasters_color_type_border"><li id="cmsmasters_icon_list_item_5b2831bee6ddb" class="cmsmasters_icon_list_item cmsmasters-icon-facebook">Facebook</li><li id="cmsmasters_icon_list_item_5b2831bee6e22" class="cmsmasters_icon_list_item cmsmasters-icon-twitter">Twitter</li><li id="cmsmasters_icon_list_item_5b2831bee6e64" class="cmsmasters_icon_list_item cmsmasters-icon-youtube">YouTube</li><li id="cmsmasters_icon_list_item_5b2831bee6ea6" class="cmsmasters_icon_list_item cmsmasters-icon-instagram">Instagram</li><li id="cmsmasters_icon_list_item_5b2831bee6ee7" class="cmsmasters_icon_list_item cmsmasters-icon-gplus">Gplus</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cl"></div><div class="content_wrap fullwidth"> <div class="middle_content entry" role="main"></div></div>