    <!-- _________________________ Start Header _________________________ -->
<header id="header">
    <div class="header_top" data-height="38">
        <div class="header_top_outer">
            <div class="header_top_inner">
                <div class="header_top_right">
                    <div class="social_wrap">
                        <div class="social_wrap_inner">
                            <ul>
                                <li>
                                    <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-linkedin" title="Linkedin" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-facebook" title="Facebook" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-gplus" title="Google" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-twitter" title="Twitter" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-skype" title="Skype" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><div class="header_top_left">
                    <div class="meta_wrap">
                        <div class="cmsmasters-icon-location-3">
                            <span class="locality">R. Fernandes Tomás, 557, 2º </span>,
                            <span class="postal-code">4000-217</span>
                            &nbsp;Porto,
                            <span class="country-name">Portugal</span>
                        </div>
                        <div class="tel cmsmasters-icon-phone-4">+351 223 173 559</div>
                        <div class="email cmsmasters-icon-mail-3"><a href="mailto:info@oficinadeportugues.net">info@oficinadeportugues.net</a></div>
                    </div>
                </div>
            </div>
        </div><div class="header_top_but closed"><span class="cmsmasters_theme_icon_slide_bottom"></span></div>
    </div><div class="header_mid" data-height="100">
        <div class="header_mid_outer">
            <div class="header_mid_inner">
                <div class="logo_wrap">
                    <a href="index.html" title="Language School" class="logo">
                        <img src="~/Content/imgs/logo.png" alt="Oficina de Português" />
                        <img class="logo_retina" src="wp-content/themes/language-school/img/logo_retina.png" alt="Language School" width="231" height="30" />
                    </a>
                </div><div class="search_wrap wpcf7-display-none">
                    <div class="search_wrap_inner">
                        <div class="search_wrap_in_inner">
                            <div class="search_bar_wrap">
                                <form role="search" method="get" action="http://www.google.net/">
                                    <p class="search_field">
                                        <input name="s" placeholder="enter keywords" value="" type="search" />
                                    </p>
                                    <p class="search_button">
                                        <button type="submit" class="cmsmasters_theme_icon_search"></button>
                                    </p>
                                </form>
                            </div>
                            <a class="search_toggle cmsmasters_theme_icon_search"></a>
                        </div>
                    </div>
                </div>
                @{
                    Html.RenderPartial("_Navigation");
                }
            </div>
        </div>
    </div>
</header>
<!-- _________________________ Finish Header _________________________ -->
